// Primary

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// Neutral

$grayish-blue: hsl(217, 19%, 38%,0.6);

$dark-grayish-blue: hsl(220, 22%, 16%);

@import "general";
@import "card";
@import "media1440"